# Load environment from upper directories
source_up

export AWS_DEFAULT_REGION="garage"
export AWS_S3_ENDPOINT="https://garage.deuxfleurs.fr"
export AWS_ACCESS_KEY_ID="${DF_ACCESS_KEY}"
export AWS_SECRET_ACCESS_KEY="${DF_SECRET_KEY}"

